results/
data/
*.out
*.nextflow*
JASPAR2024_CORE_vertebrates_non-redundant_pfms_jaspar.txt
resources/Mus_musculus.GRCm39.dna_rm.primary_assembly.fa
resources/Mus_musculus.GRCm39.dna_rm.primary_assembly.fa.fai
resources/Mus_musculus.GRCm39.dna_rm.primary_assembly_bwa/
resources/Mus_musculus.GRCm39.dna_rm.primary_assembly_bwa2/
resources/Mus_musculus.GRCm39.dna_rm.primary_assembly_sizes.txt
